<div class="bootstrap wrapper">
    
    <div class="container mt">
        
        <div class="container text-center form-group">
            <img class="img-fluid" style="width: 200px" src="/assets/images/logo.jpg" alt="" srcset="">
        </div>
            <div class="text-center">
                
                <h1>Job Seeker Signup Page</h1>
                    <form (ngSubmit)="onSubmit()">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Name</mat-label>

                            <input [(ngModel)]="jobSeeker_details.name"
                            required name="name" type="text" matInput/><br>

                        </mat-form-field><br>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>

                            <input [(ngModel)]="jobSeeker_details.username"
                            required name="username" type="text" matInput/><br>

                        </mat-form-field><br>

                        <mat-form-field class="full-width"  appearance="outline">

                            <mat-label>Password</mat-label>

                            <input [(ngModel)]="jobSeeker_details.password"
                             required  name="password" type="password" matInput/><br> 

                        </mat-form-field><br>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Email</mat-label>

                            <input [(ngModel)]="jobSeeker_details.email"
                            required name="email" type="text" matInput/><br>

                        </mat-form-field><br>

                        <h1>Provide Professional Details</h1>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Experience</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.experience"
                                required name="experience" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Previous Company</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.previousCompany"
                                required name="previousCompany" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width"  appearance="outline">
    
                                <mat-label>Career Level</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.careerLevel"
                                 required  name="careerLevel" type="text" matInput/><br> 
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Privious/Current CTC</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.previousctc"
                                required name="previousctc" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Certifications</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.certifications"
                                required name="certifications" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Projects</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.projects"
                                required name="projects" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <h1>Provide Educational details</h1>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Level of Education (Bachelors/Masters)</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.levelOfEducation"
                                required name="levelOfEducation" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Field of Study (IT/CS/Chemical etc)</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.fieldOfStudy"
                                required name="fiedldOfStudy" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>College/University Name</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.college"
                                required name="college" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>10th Board Marks (out of 100)</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.hscMarks"
                                required name="hscMarks" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>12th Board Marks (out of 100)</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.sscMarks"
                                required name="sscMarks" type="text" matInput/><br>
    
                            </mat-form-field><br>
    
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Graduation GPA (in scale of 10)</mat-label>
    
                                <input [(ngModel)]="jobSeeker_details.graduationMarks"
                                required name="graduationMarks" type="text" matInput/><br>
    
                            </mat-form-field><br>
    




                        
                        <button mat-raised-button color="accent" type="submit">Register</button>
                        <button mat-raised-button color="accent" style="margin-left: 20px;"  type="reset">Reset</button>
                    </form><br>
                   

                   <p> {{jobSeeker_details | json}}</p>
          




