<div class="bootstrap wrapper">
    
    <div class="container mt">
        
        <div class="container text-center form-group">
            <img class="img-fluid" style="width: 200px" src="/assets/images/logo.jpg" alt="" srcset="">
        </div>
            <div class="text-center">
              
               <table class="table table-bordered table-striped">
                   <tr>
                       <th>Job Seeker Name</th>
                       <th>Previous Company</th>
                       <th>Previous CTC</th>
                       <th>Career Level</th>
                       <th>College</th>
                       <th>Graduation Marks (in scale of 10)</th> 
                       <th>Field of Study</th>
                       <th>Previous Projects</th>
                       <th>12th Board Marks</th>
                       <th>10th Board Marks</th>
                       <th>Resume</th>
                   </tr>


                   <tr>
                       <td>{{jobSeeker.name}}</td>
                       <td>{{jobSeeker.previousCompany}}</td>
                       <td>{{jobSeeker.previousctc}}</td>
                       <td>{{jobSeeker.careerLevel}}</td>
                       <td>{{jobSeeker.college}}</td>
                       <td>{{jobSeeker.graduationMarks}}</td>
                       <td>{{jobSeeker.fieldOfStudy}}</td>
                       <td>{{jobSeeker.projects}}</td>
                       <td>{{jobSeeker.sscMarks}}</td>
                       <td>{{jobSeeker.hscMarks}}</td>
                       <td colspan="1">
                        <button type="button" class="btn btn-primary btn-sm" (click)="downloadResume(jobSeeker.jobSeekerId)">Download</button>
                       </td>

                   </tr>
               </table>
                 
            </div> 
        </div>
</div>





