body,html {

    height: 80%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
    background-image: linear-gradient(rgba(238, 235, 235, 0.816), rgba(200, 229, 233, 0.959)), url("/assets/images/home.jpg");
    /* background-image: url("/assets/images/white-bg-gradient.jpg"); */
    height: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
   
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(13, 34, 54, 0.857);
    font-weight: 900px;
    font-size: 100%;
}

h1{ 
   font-size: 199%; 
   color: rgba(13, 34, 54, 0.857);
}

button{
    background-color: #0f918c;
    color: #F5F5F5;
}