<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <div class="hero-image ">
    <div class="hero-text">
      <div class="bootstrap wrapper">

        <div class="container mt">

          <div class="text-center">
            <h1 class="text-center">Welcome to Career Solutions Job Portal</h1>
            <div class="bootstrap wrapper">

              <div class="container mt">

                <div class="container form-group">


                  <div class="margin-left">

                    <h1>Post New Job</h1>
                    <form (ngSubmit)="onSubmit()">

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Job Title</mat-label>

                        <input [(ngModel)]="jobs_details.jobTitle" required name="jobTitle" type="text" matInput /><br>

                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Job Description</mat-label>

                        <input [(ngModel)]="jobs_details.jobDesc" required name="jobDesc" type="text" matInput /><br>

                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">

                        <mat-label>Job Field</mat-label>

                        <input [(ngModel)]="jobs_details.jobField" required name="jobField" type="text" matInput /><br>

                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Employement Type</mat-label>

                        <input [(ngModel)]="jobs_details.employementType" required name="employementType" type="text"
                          matInput /><br>

                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>CTC</mat-label>

                        <input [(ngModel)]="jobs_details.ctc" required name="ctc" type="number" matInput /><br>

                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Experience In Years</mat-label>

                        <input [(ngModel)]="jobs_details.experienceInYears" required name="experienceInYears"
                          type="number" matInput /><br>

                      </mat-form-field><br>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Education</mat-label>

                        <input [(ngModel)]="jobs_details.education" required name="education" type="text"
                          matInput /><br>

                      </mat-form-field><br>



                      <button mat-raised-button type="submit">Post Job</button>
                      <button mat-raised-button style="margin-left: 20px;" type="reset">Reset</button>
                    </form><br>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <footer class="page-footer font-small blue">


      <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="http://career-solutions-job-portal.s3-website.ap-south-1.amazonaws.com/home"> careersolutions.com</a>
      </div>


    </footer>
  </div>
</body>

</html>