<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
    <div class="hero-image ">
        <div class="hero-text">


            <div class="text-center" style="margin-top:250px">
                <h1 class="text-center">Welcome to Career Solutions Job Portal</h1>
                <div class="">
                    <h2>

                        Find the Job that fits your life<br>
                        Ten million Success Stories.
                        Start yours today


                    </h2>
                </div>
                <button mat-raised-button routerLink="/login">Recruiter</button>
                <button mat-raised-button style="margin-left:30px" routerLink="/jobseekerlogin">JobSeeker</button>
            </div><br>

        </div>
    </div>
    <div>
        <footer class="page-footer font-small blue">


            <div class="footer-copyright text-center py-3">© 2020 Copyright:
                <a href="http://career-solutions-job-portal.s3-website.ap-south-1.amazonaws.com/home">
                    careersolutions.com</a>
            </div>


        </footer>
    </div>
</body>


</html>