<div class="bootstrap wrapper">
    
    <div class="container mt">
        
        <div class="text-center" style="margin-top:250px">
            <h1 class="text-center">Welcome to Career Solutions Job Portal</h1>  
         
         <button mat-raised-button color="accent" routerLink="/login">Recruiter</button>
         <button mat-raised-button color="accent" style="margin-left:30px" routerLink="/jobseekerlogin">JobSeeker</button>
        </div><br>
        <h1>Hello, this is a wonderful site!!!</h1>

    </div>
</div>
