<div class="bootstrap wrapper">
    
    <div class="container mt">
        
        <div class="container text-center form-group">
            <img class="img-fluid" style="width: 200px" src="/assets/images/logo.jpg" alt="" srcset="">
        </div>
            <div class="text-center">
                
                <h1>Job Seeker Login Page</h1>
                    <form (ngSubmit)="onSubmit()">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Username</mat-label>

                            <input [(ngModel)]="jobSeeker_credentials.username"
                            required name="username" type="text" matInput/><br>

                        </mat-form-field><br>

                        <mat-form-field class="full-width"  appearance="outline">

                            <mat-label>Password</mat-label>

                            <input [(ngModel)]="jobSeeker_credentials.password"
                             required  name="password" type="password" matInput/><br> 

                        </mat-form-field><br>
                        <button mat-raised-button color="accent" type="submit">Login</button>
                        <button mat-raised-button color="accent"  routerLink="/jobSeekerSignup">Signup</button>
                    </form><br>
                   <p> {{jobSeeker_credentials | json}}</p>
            </div> 
        </div>
</div>




